html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-size: auto;
    background: rgb(58,44,71);
    background: linear-gradient(90deg, rgba(58,44,71,1) 0%, rgba(111,64,158,1) 18%, rgba(143,49,237,1) 50%, rgba(111,64,158,1) 82%, rgba(58,44,71,1) 100%);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.allPosts {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    min-height: 100px;
}

.make_post{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 80px;
    height: 80px;
    border-radius: 40%;
    background: radial-gradient(circle, #ff5100, #ff821b 90%);
    cursor: pointer;
}

.post {
    display: flex;
    position: relative;
    padding: 1%;
    width: 60%;
    height: 250px;
    margin-bottom: 3%;
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.336);
    color: black;
}


.rea {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    width: 10%;
    height: 50px;
    background: linear-gradient(90deg, #ff821b, #ff5100 50%, #ff821b);
    border-radius: 3px;
    color: white;
    text-align: center;
    transition: .2s;
}

#responding_page{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.rea:hover {
    transform: scale(1.2);
}

.like {
    position: absolute;
    right: 110px;
    bottom: 10px;
}

.dislike {
    position: absolute;
    right: 15px;
    bottom: 10px;
}

a {
    cursor: pointer;
    text-decoration: none;
}
