html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background: #0a062a;
    background: linear-gradient(90deg, #ff821b, #ff5100 50%, #ff821b);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.allPosts {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    min-height: 100px;
}

.post {
    display: flex;
    position: relative;
    padding: 1%;
    width: 60%;
    height: 250px;
    margin-bottom: 3%;
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.336);
    color: black;
}

.rea {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    width: 10%;
    height: 50px;
    background: linear-gradient(90deg, #ff821b, #ff5100 50%, #ff821b);
    border-radius: 3px;
    color: white;
    text-align: center;
    transition: .2s;
}

.rea:hover {
    transform: scale(1.2);
    bottom: 15px;
    left: 20px;
}

.like {
    position: absolute;
    right: 110px;
    bottom: 10px;
}

.dislike {
    position: absolute;
    right: 15px;
    bottom: 10px;
}

a {
    cursor: pointer;
    text-decoration: none;
}