body {
    background: #0a062a;
    background: linear-gradient(139deg, #0a062a 2%, #ff69b4 77%);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}

.info {
    display: flex;
    width: 60%;
    height: 100%;
}

.infomakers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}

.def {
    display: flex;
    flex-direction: row;
}

.rijen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.def span {
    font-size: 20px;
}

.contactform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

form {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: space-evenly;
}

input {
    border: none;
    padding: 5px;
    font-size: 18px;
    height: 4.5%;
    border-radius: 2px;
    width: 60%;
    outline: none;
    border: thin #000000 solid;
    color: black;
    background-color: #eeeeee;
    box-shadow: 2px 2px 5px #868686;
}

textarea {
    outline: none;
    resize: none;
    overflow: auto;
    font-size: 25px;
    font-family: inherit;
    border-radius: 2px;
    border: thin #000000 solid;
    background-color: #eeeeee;
    box-shadow: 2px 2px 5px #868686;
}

select {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 2px;
    height: 5%;
    width: 60%;
    outline: none;
    border: thin #000000 solid;
    appearance: none;
    color: black;
    background-color: #eeeeee;
    box-shadow: 2px 2px 5px #868686;
}

::placeholder {
    color: grey;
    font-size: 20px;
    padding-left: 5px;
}

.def img {
    width: auto;
    margin-right: 5%;
    height: 150px;
}

#send {
    transition: .5s;
}

#send:hover {
    background: #6EE6C7;
    width: 70%;
    height: 6%;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.meerinfo {
    width: 25%;
    text-align: center;
    cursor: alias;
    color: white;
    font-family: inherit;
    text-decoration: none;
    border-bottom: transparent 2px solid;
}

.meerinfo:hover {
    color: #6EE6C7;
    border-bottom: #6EE6C7 3px solid;
}

.modal {
    display: none;
    position: relative;
    position: fixed;
    color: black;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    cursor: default;
    font-family: inherit;
    font-size: 20px;
    position: relative;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 50%;
    border-radius: 2px;
}

.close {
    color: #aaaaaa;
    position: absolute;
    right: 1%;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal:hover {
    cursor: pointer;
}

.links{
    width: 100%;
    display: inline-block;
    justify-content: center;
}

.welke-games2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid purple; */
}